body{
  padding: 0;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.image-member{
  width: 99%;
}
.status-birthday{
  font-size: .6rem;
}
.boxMiniNews{
  border: 1px solid red;
}