@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --bg-color: #111828;
  --gray-color: #9da2ae;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: var(--bg-color); */
  height: 500vh;
}
